body{
    padding:1.8% 25%;
}

header{
    display: flex;
    justify-content: space-between;
}

/*logo*/
.logo{
    width:7em;
}

/*navigation*/
nav a{
    font-weight: bold;
    color: black;
    margin: 1em;
}

nav a:hover{
    color: #969696;
}

.progress{
    border: 0.1em solid #ccc;
    width: 100%;
    height: 2em;
}
.progress-level{
    background: rgb(179, 0, 0);
    width: 100%;
    height: 100%;
    animation: prog 2s linear forwards;
}

/*items content*/
input , select{
    margin: 4%;
}

p{
    clear: both;
}

.next{
    color: black;
    text-decoration: none;
    padding: 0.9em;
    border: 0.1em solid black;
    background: #ccc;
    float:right;
    margin-bottom: 2em;
}

.items{
    float: left;
    width: 25%;
    text-align: right;
    margin-bottom: 2em;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 100%;
}

.products div{
    width: 21%;
    text-align: right;
    margin: 2%;
}

@keyframes prog {
    0%{width: 30%;}
    100%{width: 45%;}
}