body{
    margin: 44;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdan, sans-serif ;
}

*{
    box-sizing: border-box;
}

.bottom{
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 15px
}

a:hover{
    color: #969696;
}

/* title */
#header p{
    margin-top: -20px;
}

#header{
    
    height: 177px;
    background: rgb(250, 250, 250);
    text-align:center;
    padding-top: 20PX;
    padding-bottom: 20PX;
    border-bottom: 1px solid rgb(239, 239, 239);
    font-size: 18.5px;
}

#header p{
    font-size: 16.5px;
    color: rgb(130, 130, 130);
}

/*navigation bar*/
nav{
    padding-left: 14%;
    overflow: hidden;
    text-align: center;
}

/*figure*/
img{
    clear: both;
    width: 100%;
    margin-bottom: 2.7%;
}

/*columns*/
.col-1{
    margin-left: 5%;
}

.col-1 p{
    font-size: 13px;
    color: rgb(102,102,102);
}

.col-2{
    margin-left: 5%;
    margin-right: 5%;
}

.col-2 div {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.icons img {
    width: 70%;
    margin: 25px 25px 25px 0;
}

/*footer*/
footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #6736cd;
    text-align: center;
    color: white;
    align-items: center;
    font-weight: bold;
    padding-bottom: 20px;
}

footer div {
    width: 200px;
}

footer iframe{
    width: 200px;
}

.line{
    border-bottom: 1px solid #7147c2;
    padding-bottom: 20px;
}

/* For mobile phones: */
[class*="col"] {
    width: 90%;
}

/* For desktop: */
@media screen and (min-width:900px) {
    #header {padding-left: 15%; text-align: left;}
    .col-0 a {float: left; text-align: center;}
    .col-1 {width: 25%;}
    .col-2 {width: 42%;}
    .row{display: flex; justify-content:center;}
    footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: unset;
    height: 500px;
    text-align: left;
    padding: 30px 50px 0px 200px;
    }
    
}

